HandK_AppendixC.pdf
output.dat
.DS_Store
.ipynb_checkpoints/
StellarStructure.pdf
Untitled.ipynb
Untitled1.ipynb
__pycache__/
zams
/output/
/output_old/
/old_output/
/output_cluster/
custom_output.dat
custom_pars.pars
.custom_output.dat.swp
